#contenedor{

background-color:black;
height: 750px;
width: 850px;
}

#menu{
    background-color: #d6ffb7;
    height: 750px;
    width: 295px;
    display: inline-block;
    vertical-align: top;

}

#contenido{
    background-color: #FF9F1C;
    height: 750px;
    width: 550px;
    display:inline-block;
    vertical-align: top;
}

#perfil{
    background-color: blanchedalmond;
    height: 250px;
    width: 295px;
}

#opciones{
    background-color: brown;
    height: 400px;
    width: 295px;
}

#configuracion{
    background-color: cadetblue;
    height: 100px;
    width: 295px;
}

#foto{
    background-color: aqua;
    width: 150px;
    height: 150px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
    top: 35px;
      /* right: 15px;
    left: 15px;
    bottom: 0px; */
}

#datos-usuario{
    background-color: darkkhaki;
    width: 140px;
    height: 250px;
    display: inline-block;
}

.opcion{
    height: 50px;
    text-align: center;
    border: 1px solid black;
}

.filas{
    height: 180px;
    width: 95%;
    background-color: white;
    margin-top: 5px;
}

.separadores{
    height: 180px;
    width: 49%;
    background-color: gray;
    display: inline-block;
    vertical-align: top;
}

.separadores h4{
    text-align: right;
}

.columna{
    width: 28%;
    height: 80%;
    background-color: green;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.columna h5, .columna h6, .columna p{
    margin:0;
}

.foto{
    width: 50px;
    height: 50px;
    background-color: hotpink;
    border-radius: 50%;
}
.mitad-columna{
    width: 13%;
    height: 80%;
    background-color: green;
    display: inline-block;
    margin: 0;
}

.mitad-columna-foto{
    margin: 0 auto;
    width: 90%;
    height: 30%;
    margin-top: 20px;
    background-color: white;
    border-radius: 10%;
}